@font-face {
  font-family: 'Kollektif';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src:
    url('../public/fonts/Kollektif.ttf') format('truetype');
}

@font-face {
  font-family: 'Kollektif';
  font-style: italic;
  font-display: auto;
  font-weight: 400;
  src:
    url('../public/fonts/Kollektif-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Kollektif';
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src:
    url('../public/fonts/Kollektif-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Kollektif';
  font-style: italic;
  font-display: auto;
  font-weight: 700;
  src:
    url('../public/fonts/Kollektif-BoldItalic.ttf') format('truetype');
}